*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    width: 139px;
    height: 60px;
    margin: 16px ;


}

.nav_bar ul{
    display: flex;
    align-items: center;

}

.nav_bar ul{
    gap: 20px;


    
    

}

.nav_bar ul li{
    list-style: none;
}
.nav_bar ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Ag H1;
}

.btn{
    width: 164px;
    height: 44;
    padding: 16px 12px ;
    background-color: #30B868;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
}



.nav_bar ul li a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.nav_bar, .btn {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.back_image{
    width: 1600px;
    height: 674px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.all-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.content-item{
    width: 1360px;
    height: 379px;

}

.content-item .early{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding:10px 8px ;
    text-align: center;
    justify-content:center ;
    font-size: 16px;
    margin: auto;
    margin-top: 154px;


}

.content-item{

font-family: "Inter", sans-serif;
font-optical-sizing: auto;



}

.content-item,h1{
    width: 770px;
    height: 168px;
    text-align: center;
   
}