*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    width: 139px;
    height: 60px;
    margin: 16px ;


}

body{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav_bar ul{
    display: flex;
    align-items: center;

}

.nav_bar ul{
    gap: 20px;


    
    

}

.nav_bar ul li{
    list-style: none;
}
.nav_bar ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Ag H1;
}

.btn{
    width: 164px;
    height: 44;
    padding: 16px 12px ;
    background-color: #30B868;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
}



.nav_bar ul li a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.nav_bar, .btn {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.back_image{
    width: 1600px;
    height: 674px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.all-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.content-item{
    width: 1360px;
    height: 379px;

}

.content-item .early{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding:8px 6px ;
    text-align: center;
    justify-content:center ;
    font-size: 16px;
    margin: auto;
    margin-top: 154px;
    color: #30B868;



}

.content-item{

font-family: "Inter", sans-serif;
font-optical-sizing: auto;



}

.title{
    text-align: center;
    font-size: 70px;
    margin: 16px;
    color: #FFFFFF;
    
}
.title span{
    color: #30B868;
}

.item-p{
    margin: 16px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.button-item{
    text-align: center;
    margin: 32px;
    
 
}
.btn1{
    width: 251px;
    height: 52px;
    padding: 16px 12px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    border-color: #30B868;
    background-repeat: no-repeat;
    background-image: url(assets/ArrowRight.png);
    background-position: left;
    background-position-x: 217px;
}
.btn2{

    width: 230px;
    height: 52px;
    padding: 16px 12px;
    margin-left: 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid white;
    background: none;
    color: #FFFFFF;
        background-repeat: no-repeat;
    background-image: url(assets/play-button.png);
    background-position: left;
    background-position-x: 10px;

}

/* .section-2div{
   
    height: 152px;
    text-align: center;
} */
.section2{
    width: 100%;
    height: 448px;

}

.section2,.section-2div{
    text-align: center;
    margin-top: 40px;

}

.section2,.section-2div h1{
    color: #001931;

}
.section2,.section-2div p{
    color: #627382;
    margin-top: 10px;

}

.card_item{
    width: 1600px;
    height: 310px;
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.citem1{
    width: 312px;
    height: 290px;
    background-color: #001931;
    background-color: #e0cbcb;
    padding: 24px 24px ;
 
    
}

.citem1{
      border-radius: 5px;
    box-shadow: 10px 12px 12px whitesmoke;
    background-color: aliceblue;
}

.citem1, .item-content{
    align-items: center;
    text-align: center;
    margin-top: 100px;


}

.item-content img{
    background-color: red;
    border-radius: 40px;
    padding: 10px;
}
.item-content h3{
    font-weight: bold;
    color: #001931;
    font-size: 24px;
}

.item-content p{
    
    color: #627382;
    font-size: 12px;
    margin: 10px;

}





